{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>All in one developer's resources</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
          rel="stylesheet">

    {#        {% static 'app/' %}#}
    <link href="  {% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="  {% static 'app/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="  {% static 'app/css/templatemo-topic-listing.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content text-center mt-5">
        <h1 class="text-black-50 " style="font-size: 10rem;color: orangered;">404</h1>
        <p>Page not found</p>
        <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
    </div>
</div>
</body>
</html>